@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Объявление переменных */
:root {
    --orange: #F18128;
    --black: #040D1F;
    --white: #FFFFFF;
    --b-radius: 6px;
    --CB: 'Comfortaa-Bold';
    --CR: 'Comfortaa-Regular';
    --MB: 'Montserrat-Bold';
    --MR: 'Montserrat-Regular';
    --RM: 'Roboto-Medium';
    --RR: 'Roboto-Regular';
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--black);
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER START */

.header__poster {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.header__poster-icon {
    font-size: 50px;
    color: var(--white);
}


.header__poster-link span {
    color: var(--white);
    font-size: 16px;
    line-height: 18px;
    font-family: var(--CR);
    margin-left: 24px;
    max-width: 166px;
    width: 100%;
}

.header__poster-link {
    display: flex;
    align-items: center;
}

.header__nav {
    background: rgba(1, 3, 5, 0.8);
}

.header__nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
    column-gap: 30px;
}

.header__nav-span {
    color: var(--white);
    line-height: 20px;
    font-size: 18px;
    font-family: var(--CB);
    margin-left: 5px;
}

.header__nav-link {
    display: block;
    color: var(--white);
    line-height: 17px;
    font-size: 14px;
    font-family: var(--MR);
    padding: 42px 0;
    position: relative;
    transition: .5s;
}


.header__nav-link::after {
    content: '';
    display: block;
    height: 2px;
    background: #ED8E00;
    width: 0;
    border-radius: 23px 23px 0px 0px;
    position: absolute;
    bottom: 0;
    transition: .5s;
}

.header__nav-link:hover::after {
    width: 100%;
}

.header__nav-link:hover {
    color: #ED8E00;
}

.header__content-info {
    background: rgba(7, 15, 25, 0.75);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header__content-img {
    width: 100%;
}

.header__content {
    position: relative;
}

.header__content-title {
    color: var(--white);
    font-size: 64px;
    line-height: 78px;
    font-family: var(--MB);
}

.header__content-description {
    color: #C8C8C8;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--MR);
    max-width: 570px;
    width: 100%;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 50px;
}

.watch-btn,
.link-btn {
    display: flex;
    background: var(--orange);
    max-width: 166px;
    width: 100%;
    border-radius: 4px;
    padding: 17px 0;
    justify-content: center;
    color: #000000;
    line-height: 12px;
    font-size: 14px;
    font-family: var(--RM);
}

.link-btn {
    font-size: 16px;
    color: var(--white);
    background: var(--black);
}

.header__content-buttons {
    display: flex;
    column-gap: 30px;
}

/* HEADER END */

/* MAIN START */

.main {
    padding-top: 60px;
    padding-bottom: 63px;
}

.main__title {
    color: var(--orange);
    line-height: 40px;
    font-size: 36px;
    font-family: var(--CR);
    text-transform: capitalize;
    margin-bottom: 55px;
    width: max-content;
}


.main__title::after {
    content: '';
    display: block;
    height: 2px;
    background: var(--orange);
    width: 100%;
    margin-top: 10px;
}


.main__films-info {
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: var(--b-radius);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__films-item {
    position: relative;
    max-width: 255px;
    width: 100%;
}

.main__films-icon {
    color: var(--white);
    font-size: 40px;
    cursor: pointer;
    transition: .5s;
}

.main__films-time {
    color: var(--white);
    font-size: 14px;
    line-height: 10px;
    font-family: var(--MR);
    border: 1px solid var(--white);
    padding: 7px 28px;
    border-radius: 9px;
    margin-top: 12px;
}

.main__films-title {
    color: var(--white);
    font-size: 22px;
    line-height: 27px;
    font-family: var(--MR);
    margin-top: 31px;
    margin-bottom: 12px;
}

.main__films-description {
    color: var(--white);
    line-height: 21px;
    font-size: 14px;
    font-family: var(--RR);
    max-width: 226px;
    width: 100%;
}

.main__films-icon:hover {
    transform: scale(1.5);
}

.main__films {
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px;
}

.main__blackwidow-content {
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.main__blackwidow {
    position: relative;
}

.main__blackwidow-video {
    width: 100%;
}

.main__blackwidow-description {
    color: #000000;
    line-height: 27px;
    font-size: 18px;
    font-family: var(--RR);
    margin-top: 51px;
    margin-bottom: 55px;
    max-width: 558px;
    width: 100%;
    text-align: justify;
}


.main__collections-content {
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    border-radius: var(--b-radius);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main__collections-item {
    position: relative;
    max-width: 350px;
    width: 100%;
}

.main__collections {
    margin-top: 61px;
    margin-bottom: 63px;
}

.main__collections-title {
    color: var(--white);
    font-size: 20px;
    line-height: 22px;
    font-family: var(--CB);
    margin-top: 15px;
}

.main__collections-img {
    display: block;
}

.main__collections-content::before {
    content: '';
    display: block;
    background: url('../images/boxes.png') no-repeat;
    height: 100%;
    width: 20px;
    position: absolute;
    left: 7px;
    top: 7px;
    transition: .5s;
}

.main__collections-content::after {
    content: '';
    display: block;
    background: url('../images/boxes.png') no-repeat;
    height: 100%;
    width: 20px;
    position: absolute;
    right: 7px;
    top: 7px;
    transition: .5s;
}

.main__collections-item:hover .main__collections-content::before {
    transform: scale(1.5) translate(-150%);
}

.main__collections-item:hover .main__collections-content::after {
    transform: scale(1.5) translate(150%);
}

.main__collections-item:hover .main__films-icon {
    transform: scale(1.5);
}

.main__collections-items {
    display: flex;
    justify-content: space-between;
}

.main__series-content {
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    border-radius: var(--b-radius);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 22px;
}

.main__series-item {
    position: relative;
}

.main__series-img {
    display: block;
    width: 100%;
    height: 100%;
}

.main__series-item:nth-of-type(1) .main__films-icon {
    display: none;
}

.main__series-title {
    color: var(--white);
    line-height: 27px;
    font-size: 24px;
    font-family: var(--CB);
    margin-top: 20px;
}

.main__series-item:nth-of-type(1) .main__series-title {
    font-size: 40px;
    line-height: 45px;
    margin-top: 0;
}

.main__series-description {
    display: none;
}

.main__series-item:nth-of-type(1) .main__series-description {
    display: block;
    color: var(--white);
    line-height: 24px;
    font-size: 16px;
    font-family: var(--CR);
    text-align: center;
    margin-top: 27px;
    margin-bottom: 30px;
}

.main__series-btn {
    display: none;
}


.main__series-item:nth-of-type(1) .main__series-btn {
    display: flex;
}

.main__series-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
}

.main__series-item:nth-of-type(1) {
    grid-column: span 4;
    grid-row: span 2;
}

.main__series-item:nth-of-type(2) {
    grid-column: span 2;
    grid-row: span 2;
}

/* MAIN END */

/* FOOTER START */

.footer {
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    padding: 24px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer__content-link:nth-of-type(1) {
    margin-right: 50px;
}

.footer__content-text {
    color: var(--white);
    font-size: 18px;
    line-height: 20px;
    font-family: var(--CB);
    letter-spacing: 0.01em;
}
/* FOOTER END */

::-webkit-scrollbar {
    width: 10px;
    background: var(--black);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    border-radius: 50px;
}

